@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="tile-container">
    <!-- ...existing tiles... -->
    <!-- New Tile for Categories -->
    <div class="tile">
        <a asp-controller="A_Category" asp-action="A_CategoryIndex" class="tile-link">
            <div class="tile-content">
                <i class="fa fa-list-alt"></i> <!-- Optional icon -->
                <h3>Categories</h3>
            </div>
        </a>
    </div>

    <!-- ...existing tiles... -->
</div>